<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable (ionChange)="segmentChanged($event)">

    <ion-segment-button *ngFor="let categoria of categorias"
                        [value] ="categoria">
      <ion-label>{{categoria}}</ion-label>
    </ion-segment-button>
    
  </ion-segment>

 
</ion-header>

<ion-content>

<!-- <ion-list>
  <ion-item *ngFor = "let cat of noticias">
    <ion-label>{{ cat.title }}</ion-label>
  </ion-item>
</ion-list> -->

<app-noticias [noticias]= "noticias"></app-noticias>


</ion-content>
